body{
    background-color: aquamarine;
    margin: 0;
    padding: 0;
}
header{
    background-color: white;
    margin: 0;
    padding: 20px;
}
.navigation_link{
    float: right;
}
.navigation_link a{
    border-right: solid black 2px;
    padding-right: 10px;
}
a{
    text-decoration: none;
}